.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #D36135;
  overflow: hidden;
}

header, footer {
  left: 0;
  padding: 10px;
  width: 100%;
}

.header {
  width: 100%;
  top: 0;
}

.body {
  flex: 1;
}

.footer {
  position: absolute;
  bottom: 0;
}

.body-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin: 5%;
}

.body-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

button {
  border: none;
  border-radius: 20px;
  padding: 12px 35px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}

p, h1, h2, h3 {
  white-space: pre-line;
  color: #c5eff7;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 200%;
}

#trivia-text-field {
  display: flex;
  flex-direction: column;

  height: 20%;
}

@media (max-width: 700px) {

  .body-row {
    align-content: center;
    flex-direction: column;
    justify-content: start;


  }

  button {
    align-self: center;
    width: 75%;
    padding: 0px 5px;
  }

  header, footer {
    padding: 0px;
  }

  h2, p {
    font-size: 100%;
  }

  h3 {
    font-size: 80%;
  }
}